<div class="modal fade hide" id="paramsModal" tabindex="-1" role="dialog" aria-hidden="true">
    <input type="hidden" id="request_for" value=""/>
    <input type="hidden" id="request_for_hash" value=""/>
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="myModalLabel">Params request</h3>
    </div>
    <div class="modal-body">
      <label>Запомнить все</label><input type="checkbox" id="save-alls" onclick="selectAllRemember(this);">
      <p id="params-modal-inside"></p>
    </div>
    <div class="modal-footer">
      <button onclick="sendParams();" class="btn" data-dismiss="modal" aria-hidden="true">Ок</button>
    </div>
</div>
<div class="modal fade hide" id="saveScriptModal" tabindex="-1" role="dialog" aria-hidden="true">
    <input type="hidden" id="tagert_save" value="single"/>
    <input type="hidden" id="save_for" value=""/>
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3>Save script</h3>
    </div>
    <div class="modal-body">
      <p id="save-script-modal-inside">
          <label>Category</label><select id="script_category_select"></select>
          <label>Library</label><select id="script_library_select" class="script_library_select"><option value="">Main library</option></select>
          <label>Description</label><input type="text" id="save-script-desc">
          <label>Show in autocomplete</label><input type="checkbox" id="save-script-auto">
      </p>
    </div>
    <div class="modal-footer">
      <button onclick="saveScript();" class="btn" data-dismiss="modal" aria-hidden="true">Ок</button>
    </div>
</div>
<div class="modal fade hide" id="createLibraryModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3>Create new library</h3>
    </div>
    <div class="modal-body">
      <p id="save-script-modal-inside">
          <label>Category</label><input type="text" id="save-library-desc">
      </p>
    </div>
    <div class="modal-footer">
      <button onclick="saveLibrary();" class="btn" data-dismiss="modal" aria-hidden="true">Ок</button>
    </div>
</div>
<input type="hidden" id="keylist_edit"/>
      <div class="container" style="min-height: 1000px; background-color: darkgray;">
         <div class="navbar navbar-inverse">
             <div class="navbar-inner">
                 <a class="brand" href="#">&#10052; ScriptFighter</a>
                 <div class="nav-collapse collapse">
                   <ul class="nav">
                     <li class="active"><a href="#">Home</a></li>
                     <li><a href="#about">About</a></li>
                     <li><a href="#contact">Contact</a></li>
                     <li class="dropdown">
                       <a href="#" class="dropdown-toggle" data-toggle="dropdown">Settings <b class="caret"></b></a>
                       <ul class="dropdown-menu">
                         <li><a href="#">Action</a></li>
                         <li><a href="#">Another action</a></li>
                         <li><a href="#">Something else here</a></li>
                         <li class="divider"></li>
                         <li class="nav-header">Клуб</li>
                         <li><a href="?selected_club=nahabino">Нахабино</a></li>
                         <li><a href="?selected_club=yubileyny">Юбилейный</a></li>
                         <li><a href="?selected_club=ppoyma">Павшинская Пойма</a></li>
                       </ul>
                     </li>
                   </ul>
                 </div><!--/.nav-collapse -->
             </div>
        </div>
	<div class="tabbable" id="common_tabs" style="padding-left: 5px; padding-right: 5px;"> <!-- Only required for left/right tabs -->
	  <ul class="nav nav-tabs" id="nav_tabs">
	    <li class="active"><a href="#tab0" style="font-size: 20px;"  data-toggle="tab">Welcome</a></li>
            <li><a onclick="createScriptTab();">+</a></li>
            <li style="display: none;"  id="script_tab_template"><button type="button" onclick="dismissTab(this);" class="close" aria-hidden="true">×</button><a href=""  style="font-size: 20px;"  data-toggle="tab">Script</a></li>
	  </ul>
	  <div class="tab-content"  id="nav_tabs_content">
            <div class="tab-pane active" id="tab0">
                <div style="height: 600px;">
                    <div class="tabbable" id="common_tabs" style="padding-left: 5px; padding-right: 5px;"> <!-- Only required for left/right tabs -->
                        <ul class="nav nav-tabs" id="nav_tabs">
                          <li class="active"><a href="#subtab0" style="font-size: 16px;" data-toggle="tab">Help</a></li>
                          <li><a href="#subtab1" style="font-size: 16px;"  data-toggle="tab">Library</a></li>
                          <li><a href="#subtab2" style="font-size: 16px;"  data-toggle="tab">Call stack</a></li>
                          <li><a href="#subtab3" style="font-size: 16px;"  data-toggle="tab">Interfaces</a></li>
                        </ul>
                        <div class="tab-content"  id="nav_tabs_content">
                            <div class="tab-pane active" id="subtab0">
                                Welcome to Scryptifire
                            </div>
                            <div class="tab-pane" id="subtab1">
                                <div id="library">
                                    <div>
                                        <label>Library</label><select id="library_library_select" class="script_library_select" onchange="fillCategoriesTabs(this);"><option value="">Main library</option></select>
                                        <button class="btn btn-success" onclick="callCreateLibrary();">+</button>
                                    </div>
                                    <div class="tabbable" id="common_tabs" style="padding-left: 5px; padding-right: 5px;"> <!-- Only required for left/right tabs -->
                                        <ul class="nav nav-tabs" id="library_tabs">
                                          
                                        </ul>
                                        <div class="tab-content"  id="library_tabs_content" style="width: 500px; height: 600px; float: left;">

                                        </div>
                                        <div style="width: 350px; height: 600px; float: right; font-size: 10px; background-color: white;">
                                            <pre><code id="library_details">
                                            </code></pre>
                                        </div>
                                        <div style="height: -1px; clear: both;"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="subtab2">
                                <button class="btn btn-inverse" onclick="updateJustProcesses();">Snapshot threads</button>
                                <button class="btn btn-inverse" onclick="updateProcesses();">Snapshot all</button>
                                <hr>
                                <div style="height: 550px; width: 600px; overflow: auto;">
                                    <table id="threads-list">

                                    </table>
                                </div>
                            </div>
                            <div class="tab-pane" id="subtab3">
                                <div style="width: 500px; height: 600px; float: left;">
                                    <table id="interfaces-list">

                                    </table>
                                </div>
                                <div style="width: 350px; height: 600px; float: right; font-size: 10px; background-color: white;">
                                    <table id="interface-details">

                                    </table>
                                </div>
                                <div style="height: -1px; clear: both;"></div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div> 
	    <div class="tab-pane" id="script_tab_body_template">
                <div>
                    <input type="hidden" class="script-identifier" value=""/>
                    <input type="hidden" class="params-cache" value=""/>
                    <input type="hidden" class="script-hash" value=""/>
                    <div>
                        <button class="btn btn-inverse" onclick="toggleTabs(this);">Script</button>
                        <button class="btn" onclick="toggleTabs(this);">Output</button>
                    </div>
                    <div class="tab-content">
                        <div class="tab-pane active script-pane">
                            <button class="btn" onclick="runScript(this,0);">&#9658;</button>
                            <button class="btn btn-info" onclick="runScript(this,1);">&#9658;</button>
                            <button class="btn btn-warning" onclick="runScript(this,2);">&#9658;</button>
                            <button class="btn btn-danger" onclick="stopScript(this);">&#215;</button>
                            <button class="btn btn-warning" onclick="stepScript(this);">&#8629;</button>
                            <button class="btn btn-warning" onclick="callSaveModal(this);">Сохранить</button>
                            <div style="background-color: white;">
                                <textarea class="script-body" cols="90" rows="45" style="width: 90%; color: white;" wrap="soft"></textarea>
                            </div>
                        </div>
                        <div class="tab-pane console-pane">
                            <div style="height: 400px; width: 90%; overflow-y: auto; overflow-x: hidden; background-color: black;">
                                        <input type="button" value="Clear" onclick="$(this).next().empty();">
                                <span style="height: 400px; width: 90%; font-size: 10px; color:white; overflow-y: auto; overflow-x: hidden;" class="console-output">
                                </span>
                            </div>                     
                        </div>                                    
                    </div>                    
                </div>
	    </div>               
	  </div>
	</div>
      <!-- Main hero unit for a primary marketing message or call to action -->
      

      <hr>

      
      <footer>
        <p style="padding-left: 5px; padding-right: 5px;">&copy; Gzander 2015</p>
      </footer>

    </div> <!-- /container -->
